---
layout: base
title: Wang Yu Tao
excerpt: Wang Yu Tao | 王宇涛
---

{%- if site.author.type == 'organization' -%}
  {%- assign _author_itemtype = 'http://schema.org/Organization' -%}
{%- else -%}
  {%- assign _author_itemtype = 'http://schema.org/Person' -%}
{%- endif -%}

<div itemscope itemtype="{{ _author_itemtype }}" class="layout--author">
  <div class="main">
    <div class="content">
      <div class="author-avatar">
        <img itemprop="image" alt="my photo" src="https://user-images.githubusercontent.com/62100249/253490613-a63e35d6-bcc6-44ee-a688-56b2a485b7b7.jpg" />
      </div>
      <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
      {% include author-links.html author=site.author %}
      <p><a itemprop="url" class="social-link blog" title="点击访问我的博客" href="/blog" target="_self">点击访问我的博客</a></p>
    </div>
  </div>
</div>
<a href="http://beian.miit.gov.cn/" target="_blank">湘ICP备2022004153号</a>
<script>{%- include scripts/common.js -%}</script>

{% include analytics.html %}
